<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="practice1css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=poppins&display=swap" rel="stylesheet"> -->

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'gilroy';
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        .container {
            min-height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #sign-form {
            width: 40%;
            min-height: 10%;
            margin: 0vh auto;
            /* background-color: brown; */
            padding: 5%;
        }

        label:not(label:first-of-type) {
            display: block;
            margin: 15px 0 10px 0;
            font-size: 14px;
        }

        .sentence-agree {
            display: inline;
            font-size: 14px;
        }

        #submit {
            display: block;
            width: 100%;
            height: 30px;
            padding: 0 20px;
            background-color: #CB1A57 !important;
            color: #fff !important;
            font-size: 1rem;
            cursor: pointer;
            transition: .3s;
        }

        #submit:hover {
            background-color: #b4184f !important;
        }

        div.hr-left,
        div.hr-right {
            width: 30%;
            height: 1px;
            background-color: #cccccc;
        }

        p.guide-google {
            font-size: 14px;
            color: #cccccc;
            width: 40%;
            margin: auto 5px;
        }

        input:not(input#terms-agree, input#profilePic) {
            background-color: #fff;
            width: 100%;
            height: 45px;
            padding-left: 20px;
            border: 1px solid #cccccc;
            border-radius: 30px;
            color: #082E65;
        }

        input:focus {
            outline: 1px solid #082E65;
        }

        .google-sign-btn {
            width: 100%;
            height: 45px;
            border: 1px solid #cccccc;
            border-radius: 30px;
            outline: none;
            background-color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

        .google-sign-btn:hover {
            background-color: #cccccc;
        }

        i.fa-google {
            font-size: 25px;
            margin-right: 5px;
            vertical-align: middle;
            color: #082E65;
        }

        .form-caption {
            color: #737373;
            margin-bottom: 30px;
            ;
        }

        .star-required {
            color: #082E65;
        }

        input[type=checkbox] {
            margin: 30px 0 30px 0;
            accent-color: #082E65;
        }

        a {
            color: #082E65;
            /* text-decoration: none; */
            font-size: 14px;
        }

        a:hover {
            color: #23236a;
        }

        input[type=file] {
            background-color: #ffffff;
            width: 100%;
            height: 45px;
            border: 1px solid #cccccc;
            border-radius: 30px;
            color: #082E65;
        }

        input[type=file]::file-selector-button {
            background-color: #e6e6e6;
            width: 40%;
            height: 100%;
            border: 1px solid #cccccc;
            border-radius: 30px;
            margin-right: 10px;
        }

        .have-account-line {
            margin: 30px 0 30px 0;
            font-size: 14px;
        }

        .info {
            color: #737373;
            font-size: 14px;
        }

        .google-guide-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px 0;
        }

        @media only screen and (max-width: 600px) {
            #sign-form {
                width: 95%;
                min-height: 10%;
                margin: 0vh auto;
                /* background-color: brown; */
                padding: 5%;
            }
        }
    </style>

    <title>Sign-Up-Form</title>
</head>

<body>
    <div class="container">
        <form action="/create" method="post" enctype="multipart/form-data" class="sign-form" id="sign-form" autocomplete="on">
            <h1 class="form-title">Sign Up</h1>
            <p class="form-caption">See your growth and get consulting support!</p>
            <!-- <button class="google-sign-btn"><i class="fa fa-google"></i> Sign up with Google</button>

            <br> -->

            <!-- <div class="google-guide-container">
                <div class="hr-left"></div>
                <p class="guide-google">or Sign up with Email</p>
                <div class="hr-right"></div>
            </div> -->

            <label for="name">Name<span class="star-required">*</span></label>
            <input type="text" name="name" id="name" placeholder="Name" autofocus required>

            <label for="username">Username<span class="star-required">*</span></label>
            <input type="text" name="username" id="username" placeholder="Username" autofocus required>

            <label for="email">Email<span class="star-required">*</span></label>
            <input type="email" name="email" id="email" placeholder="mail@website.com" required>

            <label for="password">Password<span class="star-required">*</span></label>
            <input type="password" name="password" id="password" placeholder="Min. 8 character" required>

            <label for="mobileNumber">Mobile Number<span class="star-required">*</span></label>
            <input type="text" maxlength="10" name="mobileNumber" id="mobileNumber" placeholder="Mobile Number" required>

            <label for="profilePic">Profile Image<span class="star-required">*</span></label>
            <input type="file" name="profilePic" id="profilePic" accept=".jpg,.jpeg" placeholder="Image URL" required>

            <label for="profession">Profession<span class="star-required">*</span></label>
            <input type="text" name="profession" id="profession" placeholder="Profession" required>

            <br>

            <!-- <input type="checkbox" name="terms-agree" id="terms-agree" required> -->
            <!-- <p class="sentence-agree">I agree to the <a href="">Terms & Conditions</a></p> -->

            <input type="submit" value="Sign Up" id="submit" style="margin-top: 4vh;">

            <p class="have-account-line">Are you an Admin? <a href="/admin">Admin Panel</a></p>

        </form>
        <!-- <form action="" method="post" class="sign-form" id="sign-form" autocomplete="on">
            <h1 class="form-title">Log In</h1>
            <p class="form-caption">See your growth and get consulting support!</p>

            <label for="email">Email<span class="star-required">*</span></label>
            <input type="email" name="email" id="email" placeholder="mail@website.com" required>

            <label for="password">Password<span class="star-required">*</span></label>
            <input type="password" name="password" id="password" placeholder="Min. 8 character" required>

            <br>

            <input type="submit" value="Log In" id="submit" style="margin-top: 4vh;">

            <p class="have-account-line">Are you an Admin? <a href="">Sign in</a></p>

        </form> -->
    </div>


    <!-- <script>
        function checkFileSize() {
            var input = document.getElementById('profilePic');
            var file = input.files[0];
            var fileSize = file.size / 1024 / 1024;
            if (fileSize > 2) {
                alert('File size exceeds 2 MB. Please select a smaller file.');
                return false;
            }
            return true;
        }
    </script> -->
</body>

</html>